.about-me {
    padding: 4px;
    border-radius: 4px;
    background: none;
    &.top {
            background: rgba(255, 255, 255, .5);
    }
}

.about-me >  h1 {
    text-align: center;
    font-weight: 300;
}

.about-me-section {
    padding: 1rem;
    font-weight: 500;
    font-family: sans-serif;
    border-radius: 4px;
    background-color: white;
    margin: 1rem;
    display: flex;
    align-items: center;
    &.reverse {
        flex-direction: row-reverse;
    }
}

.about-me-text {
    padding: .5rem;
}

.about-me-subtitle {
    margin-right: 1rem;
    margin-left: 1rem;      
    text-align: center; 
    font-size: 2rem;
    font-weight: 600;
}