.intro {
    position: relative;
    z-index: 9000;
    padding: 1rem;
}

.name {
    font-family: 'Alegreya', serif;
    text-align: center;
    color: green;
    font-size: 3rem;
}

.title {
    text-align: center;
    color: orange;
    font-family: 'Alegreya', serif;
    font-size: 2rem;

}