// Governs navigation bar

.nav {
    display: flex;
    justify-content:  flex-start;
    position: relative;
    z-index: 9000;
}

.nav-link {
    padding: 1rem;
    margin-right: .5rem;
    border-top-left-radius: 5px;
    border-top-right-radius:  5px;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        &.active {
        font-weight: 900;
        background: rgba(255, 255, 255, .7);
        transition: all .3s ease;
    }
    background: rgba(255, 255, 255, .6);

    &:hover {
        cursor: pointer;
    }
}

