.photos-spread {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photos-intro {
    background: white;
    border-radius: 4px;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
}