.photo {
    display: flex;
    margin: .5rem;
    padding: 0.5rem;
    width: 20.2rem;
    background: rgba(255, 255, 255, .5);
    border-radius: 4px;
    &:hover {
     background: rgba(255, 255, 255, 1);
     transition: all .2s;
    }
}

.photo > img {
    width: 20rem;
}