//Photo component 
//TODO: more class names as i expand the component, add hover stuff.

.photo {
    display: flex;
    margin: .5rem;
    padding: 0.5rem;
    width: 20.2rem;
    background: rgba(255, 255, 255, .5);
    border-radius: 4px;
    &:hover {
     background: rgba(255, 255, 255, 1);
     transition: all .2s;
    
    }
}

.photo > img {
    width: 20rem;
    &:hover {
             width: 40rem;
             position: absolute;
              top: 50%;
     right: 50%;
    }
}