.photos {
    transition: all .5s ease-in;
}


.photos-spread {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photos-intro {
    background: white;
    border-radius: 4px;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
}

.photos-enter {
  opacity: 0.01;
  transform: scale(1.1);
}

.photos-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.photos-exit {
  opacity: 1;
  transform: scale(1);
}

.photos-exit-active {
  opacity: 0.01;
  transform: scale(1.1);
  transition: all 300ms;
}