.project {
    margin: 1rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.project-title {
    font-size: xx-large;
    text-align: center;
    width: 100%;
    text-decoration: none;
    &:visited {

    }

    &:hover {
        cursor: pointer;
    }
}

.project-thumbnail {
    padding: .3rem;
    background: white;
    border-radius: 5px;
}

.project-thumbnail > img {
    width: 20rem;
}

.project-description {
    width: 20rem;
}
