.project {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-title {
    font-size: xx-large;
    text-align: center;
    width: 100%;
    text-decoration: none;
    &:visited {

    }

    &:hover {
        cursor: pointer;
    }
}

.project-thumbnail {
    padding: .3rem;
    background: white;
    border-radius: 5px;
}

.project-thumbnail > img {
    width: 20rem;
}

.project-description {
    width: 20rem;
}

.project-link {
    text-decoration: none;
    color: black;
    background: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin: .5rem;
    border-radius: 6px;
    &:visited {
      text-decoration: none;
    }

    &:hover {
        cursor: pointer;
        background: lightgray;
        transition: all .2s;
    }
}
