.sparta {
    position: absolute;
            z-index: 10000;

    right: 0;
    top: 0;
    background-size: contain;
    width: 7rem;
    height: 7rem;
    background-repeat: no-repeat;
    transition: all 1s;
    visibility: visible;
    &.bouncing {
        position: absolute;
        z-index: 10000;
        transition: all 1s;
        background-size: contain;
        visibility: visible;
        background-repeat: no-repeat;
    }
}