.ab-test-toggle {
    position: absolute;
    background: white;
    top: .8rem;
    left: .8rem;
    z-index: 9000;
    padding: .7rem;
    height: 1rem;
    display: flex;
    width: 8rem;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    transition: all ease .3s;
    overflow: hidden;
    &.collapsed {
    justify-content: center;
          transition: all ease .3s;
          width: 1rem;
    }
    
}

.toggle-btn {
    padding: .3rem;
    border: none;
    color: white;
    background: blue;
    user-select: none;
    border-radius: 6px;
    text-overflow: clip;
    word-wrap: break-word;
    overflow: hidden;
    opacity: 1;
    transition: all .3s ease; 
    width: 8rem;
    &.collapsed {
        opacity: 0;
        width: 0;
        padding: 0;
        background: white;
        transition: all  .3s ease;
    }

    &:hover {
        cursor: pointer;
    }

}

.show-hide-arrow {
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    &:hover {
        cursor: pointer;
    }
}
