@import './stylesheets/nav.scss';
@import './stylesheets/main.scss';
@import './stylesheets/photo.scss';
@import './stylesheets/photos.scss';
@import './stylesheets/project.scss';
@import './stylesheets/projects.scss';
@import './stylesheets/background.scss';
@import './stylesheets/intro.scss';
@import './stylesheets/fade.scss';
@import './stylesheets/scroll.scss';
@import './stylesheets/about.scss';
@import './stylesheets/toggle.scss';
@import './stylesheets/slide.scss';

.App {
  // text-align: center;
  // background-image: url('https://ak3.picdn.net/shutterstock/videos/1007299423/thumb/1.jpg');;
  // background-size: contain;
  padding: 1rem;
  position: relative;
  height: -webkit-fill-available;
  min-height: 100vh;
}


body {
  position: relative;
}



